
@{
    ViewBag.Title = "HistoryClients";
    Layout = "~/Views/View.cshtml";
}
<div class="row" id="menu-div2">
    <p>
        <button type="button" class="btn btn-sm btn-success" onclick="AddHistoryClients()">Добавить новую запись</button>
    </p>
</div>
<table id="Table3" class="table table-responsive">
    <thead>
        <tr>
            <th>
                Имя специалиста
            </th>
            <th>
                ИИН пациента
            </th>
            <th>
                Диагноз
            </th>
            <th>
                Жалобы
            </th>
            <th>
                Дата поступления
            </th>
            <th>
                Редактировать
            </th>
            <th>
                Удалить
            </th>
        </tr>
    </thead>
</table>