
@{
    Layout = "~/Views/View.cshtml";
}
<div class="row" id="menu-div2">
    <p>
        <button type="button" class="btn btn-sm btn-success" onclick="AddClients()">Добавить пациента</button>
    </p>
</div>
<table id="Table1" class="table table-responsive">
    <thead>
        <tr>
            <th>
                ИИН
            </th>
            <th>
                Имя
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Адрес
            </th>
            <th>
                Телефон
            </th>
            <th>
                Редактировать
            </th>
            <th>
                Удалить
            </th>
        </tr>
    </thead>
</table>

